<!DOCTYPE html>
<!-- saved from url=(0053)https://themewagon.github.io/titan/index_landing.html -->
<html lang="en-US" dir="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>PennyWise</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="https://themewagon.github.io/titan/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://themewagon.github.io/titan/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://themewagon.github.io/titan/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://themewagon.github.io/titan/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://themewagon.github.io/titan/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://themewagon.github.io/titan/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://themewagon.github.io/titan/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://themewagon.github.io/titan/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://themewagon.github.io/titan/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://themewagon.github.io/titan/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://themewagon.github.io/titan/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://themewagon.github.io/titan/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://themewagon.github.io/titan/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="https://themewagon.github.io/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="/landing_page/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="/landing_page/css" rel="stylesheet">
    <link href="/landing_page/css(1)" rel="stylesheet">
    <link href="/landing_page/css(2)" rel="stylesheet">
    <link href="/landing_page/animate.css" rel="stylesheet">
    <link href="/landing_page/font-awesome.min.css" rel="stylesheet">
    <link href="/landing_page/et-line-font.css" rel="stylesheet">
    <link href="/landing_page/flexslider.css" rel="stylesheet">
    <link href="/landing_page/owl.carousel.min.css" rel="stylesheet">
    <link href="/landing_page/owl.theme.default.min.css" rel="stylesheet">
    <link href="/landing_page/magnific-popup.css" rel="stylesheet">
    <link href="/landing_page/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/landing_page/style.css" rel="stylesheet">
    <link id="color-scheme" href="/landing_page/default.css" rel="stylesheet">
    <script>
        (function() {
            // injected DOM script is not a content script anymore,
            // it can modify objects and functions of the page
            var _pushState = history.pushState;
            history.pushState = function(state, title, url) {
                _pushState.call(this, state, title, url);
                window.dispatchEvent(
                    new CustomEvent('state-changed', {
                        detail: url
                    })
                );
            };
            // repeat the above for replaceState too
        })();
    </script>
    <script>
        (function() {
            // injected DOM script is not a content script anymore,
            // it can modify objects and functions of the page
            var _pushState = history.pushState;
            history.pushState = function(state, title, url) {
                _pushState.call(this, state, title, url);
                window.dispatchEvent(
                    new CustomEvent('state-changed', {
                        detail: url
                    })
                );
            };
            // repeat the above for replaceState too
        })();
    </script>
    <script>
        (function() {
            // injected DOM script is not a content script anymore,
            // it can modify objects and functions of the page
            var _pushState = history.pushState;
            history.pushState = function(state, title, url) {
                _pushState.call(this, state, title, url);
                window.dispatchEvent(
                    new CustomEvent('state-changed', {
                        detail: url
                    })
                );
            };
            // repeat the above for replaceState too
        })();
    </script>
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60" data-new-gr-c-s-check-loaded="14.1106.0" data-gr-ext-installed="">
    <main>
        <div class="page-loader" style="display: none;">
            <div class="loader" style="display: none;">Loading...</div>
        </div>
        <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">PennyWise</a>
                </div>
                <div class="collapse navbar-collapse" id="custom-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#intro">Intro</a>

                        </li>
                        <li class="dropdown"><a href="#alt-features">Features</a>

                        </li>
                        <%if(!currentUser){%>
                            <li class="dropdown"><a href="/login">Login</a></li>
                            <%}else{%>
                                <li class="dropdown"><a href="/:user/dashboard">Dashboard</a></li>
                                <li class="dropdown"><a href="/logout">Logout</a></li>
                                <%}%>

                                    <li class="dropdown"><a href="/contact">Contact</a>

                                    </li>

                    </ul>
                </div>
            </div>
        </nav>


        <section class="home-section home-fade home-full-height bg-dark-60 landing-header" id="home" data-background="/landing_page/landing_bg.png" style='height: 746px; background-image: url("/landing_page/landing_bg.png");'>
            <div class="titan-caption">
                <div class="caption-content">
                    <div class="container">
                        <div class="font-alt titan-title-size-4">PennyWise</div>
                        <div class=" subtitle">Make every penny count ...</div>
                        <div class="font-alt mt-30">
                            <%if(!currentUser){%>
                                <a class="btn btn-border-w btn-circle" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>  Login</a>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="clip_center container">
            <div class="clip_center row">
                <div class="clip_center col-md-8 col-md-offset-2" style="text-align:center;"><img class=" header_Clip img-responsive banner-img" src="/landing_page/header_Clip.png"></div>
            </div>
        </div>

        <div class="main">
            <section class="module-medium" id="intro" style="padding-top:10px">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">

                            <h2 class="module-title font-alt welcome_text">Welcome to PennyWise</h2>
                            <div class="module-subtitle font-serif large-text">
<div class="justify">
<h2>

                                Introducing PennyWise, an AI powered Expense Tracker designed to change the way you manage your expenses. In today's fast-paced world, keeping track of expenses can be challenging and time-consuming. That's where PennyWise comes in.
                                With its sleek and intuitive design, PennyWise simplifies expense tracking, making it effortless and efficient.
</h2>
          </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section style="background:#dadce0" class="module" id="alt-features">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt" style="margin-bottom:30px;">Our features</h2>
                            <!-- <div class="module-subtitle font-serif">Budget Management,Data Visualization and Reports,Goal Setting and Tracking,Secure Data Storage,Personalization and Customization</div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="alt-features-item">
                                <div class="alt-features-icon"><i class="fa-solid fa-money-bill-transfer" style="color: #5c14ec;"></i></div>
                                <h3 class="alt-features-title font-alt" style="font-size:20px;">Manage day to day expenses</h3><p class="justify f-para" >With <strong>PennyWise</strong>, you can store your expense data in the database by manually
                                entering your expenses in our web app </p>
                            </div>
                            <div class="alt-features-item">
                                <div class="alt-features-icon"><i class="fa-solid fa-clock-rotate-left" style="color: #cb6ce6;"></i></div>
                                <h3 class="alt-features-title font-alt" style="font-size:20px;">View Expense History</h3><p class="justify f-para" >With <strong>PennyWise</strong>, you can
                                view your expense history date wise & also you can filter and sort out your expense data. </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                            <div class="alt-services-image align-center"><img class="feature-icon" src=".\/landing_page\feature-icon.png" alt="Feature Image"></div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="alt-features-item">
                                <div class="alt-features-icon"><i class="fa-sharp fa-solid fa-percent" style="color: #5e17eb;"></i></div>
                                <h3 class="alt-features-title font-alt" style="font-size:20px;">Manage your loans</h3><p class="justify f-para" >With <strong>PennyWise</strong>, you can store
                                  your loan data in the database & you can also track all your loans at one place  </p>
                            </div>
                            <div class="alt-features-item">
                                <div class="alt-features-icon"><i class="fa-solid fa-chart-pie" style="color: #cb6ce6;"></i></div>
                                <h3 class="alt-features-title font-alt" style="font-size:20px;">Graphical insights</h3><p class="justify f-para">With <strong>PennyWise</strong>, you can view your category wise spending and
                                  month wise breakup of all your expenses.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="module-small free-trial">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h2 class="font-alt">Login To your account &<br><span class="color-golden">start managing your expenses</span> </h2>
                            <!-- <p class="color-light font-15">Aliquam mattis efficitur massa vel commodo. Nam non euismod ante. Proin consequat sem quis massa rhoncus, vel convallis eros tincidunt. Ut consequat eget nulla eu ultrices.</p> -->
                        </div>
                    </div>
                    <div><a class="btn btn-lg btn-warning btn-circle" href="/login" style="margin-bottom:80px;color:black">Login</a></div>
                </div>

                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-0">
                            <h2 class="font-alt">Do not have an account yet?<br><span class="color-golden">Click the register button<br> to get started</span> </h2>
                            <!-- <p class="color-light font-15">Aliquam mattis efficitur massa vel commodo. Nam non euismod ante. Proin consequat sem quis massa rhoncus, vel convallis eros tincidunt. Ut consequat eget nulla eu ultrices.</p> -->
                        </div>
                    </div>
                    <div><a class="btn btn-lg btn-warning btn-circle" href="/register" style="color:black">Register</a></div>
                </div>
            </section>
            <footer class="footer bg-dark" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright font-alt">© 2023&nbsp PennyWise , All Rights Reserved</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-social-links"><a href="https://github.com/VadirajKranam/pennywise"><i class="fa-brands fa-github fa-xl"></i></a><a href=""><i class="fa-brands fa-linkedin fa-xl"></i></a>
                                <a href=""><i class="fa-solid fa-globe fa-xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="scroll-up"><a href="#"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--
    JavaScripts
    =============================================
    -->
    <script src="/landing_page/jquery.js.download"></script>
    <script src="/landing_page/bootstrap.min.js.download"></script>
    <script src="/landing_page/wow.js.download"></script>
    <script src="/landing_page/jquery.mb.YTPlayer.js.download"></script>
    <script src="/landing_page/isotope.pkgd.js.download"></script>
    <script src="/landing_page/imagesloaded.pkgd.js.download"></script>
    <script src="/landing_page/jquery.flexslider.js.download"></script>
    <script src="/landing_page/owl.carousel.min.js.download"></script>
    <script src="/landing_page/smoothscroll.js.download"></script>
    <script src="/landing_page/jquery.magnific-popup.js.download"></script>
    <script src="/landing_page/jquery.simple-text-rotator.min.js.download"></script>
    <script src="/landing_page/plugins.js.download"></script>
    <script src="/landing_page/main.js.download"></script>
    <script type="text/javascript" src="/landing_page/custom.js"></script>

    </script>
    <script src="https://kit.fontawesome.com/1465e7da9e.js" crossorigin="anonymous"></script>
</body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowrootmode="open"><style>
  div.grammarly-desktop-integration {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
  }

  div.grammarly-desktop-integration:before {
    content: attr(data-content);
  }
</style><div aria-label="grammarly-integration" role="group" tabindex="-1" class="grammarly-desktop-integration" data-content="{&quot;mode&quot;:&quot;limited&quot;,&quot;isActive&quot;:false,&quot;isUserDisabled&quot;:false}"></div></template></grammarly-desktop-integration>

</html>
